.body {
  background-color: #CAFAFE;

}

.titles {
  background-color: #97CAEF;
}

#form {
  background-color: #55BCC9;
  font-weight: bold;
}


/* .form-item {
  background-color: #CAFAFE;
} */

#form-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
}

/* #spy-list {
  background-color: #CAFAFE;
} */

.spy-list-item {
background-color: #55BCC9;

}

li {
  list-style: none;
}

#submit {
  background-color: #3FEEE6;
  font-weight: bold;
}

#delete-all {
  background-color: #C3073F;
  font-weight: bold;
}
.aquish {
  color: #3FEEE6;
}

.greeney {
  color: #55BCC9;
}

.light-blue {
  color: #97CAEF;
}

.lightest-blue {
  color: #CAFAFE;
}

.bold {
  font-weight: bold;
}
