/* * {
  margin: 0;
  /* padding: 0; */
/* } */


#body {
  background-color: #8FC1E3;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;

}

.titles {
  background-color: #501F3A;
  color: #CCCCCC;
  text-align: center;
  padding: 0;
}

#form-wrapper {
  /* width: 50%; */
  display: inline-block;
  flex-direction: column;
  border: none;
  /* padding: 8px 16px; */
  /* text-align: justify; */
  /* margin: 4px 2px; */
}

#form {
  background-color: #14A098;
  font-weight: bold;
  border: none;
  /* padding: 8px 16px; */
  text-align: center;
  display: flex;
  flex-direction: column;
}


.form-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.form-item2 {
  background-color: #41B3A3;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

label {
  padding: 0.5em;
  margin-right: 1%;
}

input.textbox {
  padding: 1em;
  margin: 1em;
  width: 20%;
}


.radio {
  font-size: 0.75em;
}


#spy-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-shrink: 1;
  margin: 1em;
  opacity: 0.25;

}

.spy-list-item {
  background-color: #501F3A;
  color: #CCCCCC;
  border-radius: 15% 1% 15% 1%;
  text-align: center;
  vertical-align: middle;
  margin: 0.5em;
  padding: 0.5em;
}

li {
  list-style: none;
}

.button {
  text-align: center;
  border-radius: 5%;
  margin: 0.5em;
  padding: 0.5em;
}

#submit {
  background-color: #FAED26;
  font-weight: bold;
  font-size: 16px;
  border: none;
  padding: 15px 32px;
  text-align: center;
}

#delete-all {
  background-color: red;
  font-weight: bold;
  font-size: 16px;
  /* border: none; */
  padding: 15px 32px;
  text-align: center;

  /* text-decoration: none; */
  /* display: inline-block; */
}

.bold {
  font-weight: bold;
}
