#form {
  color: #55BCC9;
  font-weight: bold;
}

#form-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
}

#spy-list {
  background-color: #CAFAFE;
}

li {
  list-style: none;
}

#delete-all {
  background-color: #CAFAFE;
  font-weight: bold;
}
.aquish {
  color: #3FEEE6;
}

.greeney {
  color: #55BCC9;
}

.light-blue {
  color: #97CAEF;
}

.lightest-blue {
  color: #CAFAFE;
}

.bold {
  font-weight: bold;
}
